body,
html {
  height: 100%;
  margin: 0;
  display: flex;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.draggable-area {
  width: 66.67vw;
  height: 100vh;
  background-color: lightgray;
}

.right-panel {
  width: 33.33vw;
  height: 100vh;
  background-color: #444;
  color: rgb(185, 245, 179);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.draggable-table {
  width: 100px;
  height: 100px;
  background-color: aliceblue;
  position: absolute;
  cursor: move;
}
